<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/style/nctss_1.css">
</head>
<body>
    
    <img id="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" width="100 px"
    height="100 px">
    
        <h1>NorCal Time Trials Series</h1> 
        <nav>
            <ul id="top-menu">
                <li class="button-home"><a href="./home.html">Home</a></li>
                <li class="button-about"><a href="./about.html">About</a></li>
                <li class="button-contact"><a href="./contact.html">Contact</a></li>
            </ul>
            </nav> 
    <div>
         <img id="car-photo" src="../asset/media/car2-8aeacf80.png" width= "80px"
        height= "80px">
    
    
    <div class="section-info">
    <h3>&nbsp;&nbsp;&nbsp;Mission</h3>
    
    &nbsp;&nbsp;&nbsp;To quote https://24hoursoflemons.com/:<br>&nbsp;&nbsp;&nbsp;“Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”
        
    <h3>&nbsp;&nbsp;&nbsp;Vision</h3>
    <p>&nbsp;&nbsp;&nbsp;The NorCal Time Trial Series aspires to make the excitement of competitive <br>&nbsp;&nbsp;&nbsp;racing events on iconic Northern California racetracks available to all <br>&nbsp;&nbsp;&nbsp;enthusiasts without the costs or risks of wheel-to-wheel racing.
    </p>
    <h3>&nbsp;&nbsp;&nbsp;General information</h3>
    <p>&nbsp;&nbsp;&nbsp;The NorCal Time Trial Series will hold at least one event per month on a <br>&nbsp;&nbsp;&nbsp;track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech <br>&nbsp;&nbsp;&nbsp;Raceway at Laguna Seca. Full safety equipment is required, and your car <br>&nbsp;&nbsp;&nbsp;must pass technical inspection before you can compete.</p>
    </div>
    </div>

   
    
</body>
</html>

