<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/style/nctss_1.css">
</head>

<img id="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" height="100 px"
width="100 px">

<h1>NorCal Time Trials Series</h1> 
<nav>
    <ul id="top-menu">
        <li class="button-home"><a href="./home.html">Home</a></li>
        <li class="button-about"><a href="./about.html">About</a></li>
        <li class="button-contact"><a href="./contact.html">Contact</a></li>
    </ul>
    </nav>

<div class="bottom-info">
<img id="car-photo" src="../asset/media/car3-1c119d48.png" height="80 px"
width="80 px">


<p class="info-below">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please email us at: <a href="mailto:info@nctts.org ">info@nctts.org </a> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We will reply as quickly as we can.
</p>
</div>


</html>
