<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/style/nctss_1.css">
</head>
<body>
    <img id="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" height="100 px" width="100 px">
   <h1 class="main-title">NorCal Time Trials Series</h1> 
   <nav>
    <ul id="top-menu">
        <li class="button-home"><a href="./home.html">Home</a></li>
        <li class="button-about"><a href="./about.html">About</a></li>
        <li class="button-contact"><a href="./contact.html">Contact</a></li>
    </ul>
    </nav>
    
    
    
    <img id="car-photo" src="../asset/media/car1-3dda6fa4.png" width= "80px"
    height= "80px">
    
    
    <div class="section-info">
    <h3>&nbsp;&nbsp;&nbsp;Upcoming Events</h3>
    
    <p>&nbsp;&nbsp;&nbsp;February 12 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Board Meeting </p>
       
    <p>&nbsp;&nbsp;&nbsp;February 25 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting</p>
      
    <p>&nbsp;&nbsp;&nbsp;March 12 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Event at Thunderhill!</p>
    </div>
    
    

   
    
</body>
</html>

